page {
  // height: 100vh; /* 100vh:占据窗口100% */
  background-color: #efefef !important;
  display: flex;
  flex-direction: column;
  padding: 16rpx;
  box-sizing: border-box; /* border-box将包含padding尺寸 */

  > view{ /* >指直接子元素 */
    &:nth-child(n+2){ /* 指第二个及之后的元素 */
      margin-top: 16rpx;
    }
  }
}

// 轮播图区域样式
.swiper {

  border-radius: 20rpx;
  overflow: hidden; /* swiper中添加了才能显示圆角 */

  swiper {
    height: 360rpx;
    background-color: skyblue;
  }

  swiper-item {

    image {
      width: 100%;
      height: 100%;
      // border-radius: 10rpx;
    }


    /* 第一个轮播图 */
    // & 在 Sass 中代表的是父选择器，引用的意思
    // 最后解析为 swiper-item：first-child
    // &:first-child {
    //   background-color: lightsalmon;
    // }

    // &:last-child {
    //   background-color: lightseagreen;
    // }
  }
}

// 公司信息样式
.info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx; /* 上下20 左右16 */
  border-radius: 10rpx;
  font-size: 24rpx;

  .iconfont {
    font-size: 24rpx;
  }
}

//商品导航区样式
.good-nav {
  display: flex;
  justify-content: space-between; /* 左右布局 */
  background-color: white;
  padding: 20rpx 16rpx; /* 上下20 左右16 */
  border-radius: 10rpx;

  view {
    navigator {
      display: flex;
      flex-direction: column; /* 上下布局 */
      align-items: center; /* 文字和图片居中对齐 */
    }

    image {
      width: 80rpx;
      height: 80rpx
    }

    text {
      font-size: 24rpx;
      margin-top: 12rpx;
    }
  }
}

//推荐商品样式
.good-hot {
  background-color: #fff;
  padding: 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;

  .scroll-x {
    width: 100%;
    white-space: nowrap;

      view {
         display: inline-block;
         width: 320rpx;
         height: 440rpx;
         margin-right: 16rpx;

         .good-item {
           display: flex;
           flex-direction: column;
           justify-content: space-between;

           text {
             &:nth-of-type(1){ /* 选中第一个text */
                font-weight: bold;
             }
           }
         }

         image {
           width: 100%;
           height: 320rpx;
         }

         &:last-child {
           margin-right: 0;
         }
      }
  }
}

.bg-image {
  height: 400rpx;
  // 小程序背景图地址不能写本地路径
  // background-image: url(../../assets/bgimage.png);

  // 可以用网络图片替换本地路径
  // background-image: url(http://8.131.91.46:6677/bgimage.png);

  //可以转成Base64的形式
  // background-image: url(Base64地址)
}

// .scroll-x {
//   width: 100%;
//   white-space: nowrap; /* 不允许换行 */
//   background-color: skyblue;

//   view {
//     display: inline-block;
//     width: 300rpx;
//     height: 80rpx;

//     &:last-child {
//       background-color: lightcoral;
//     }

//     &:first-child {
//       background-color: lightseagreen;
//     }
//   }
// }

// .scroll-y {
//   height: 400rpx;
//   background-color: lightskyblue;
//   margin-top: 10rpx;

//   view {
//     height: 400rpx;

//     &:last-child {
//       background-color: lightcoral;
//     }

//     &:first-child {
//       background-color: lightseagreen;
//     }
//   }
// }